# == Common
# System
.DS_Store
.DS_Store?
.idea/
.vscode/
*.swo
*.swp
Thumbs.db

# Local environment
.env
.env.*.local
.env.local
.envrc
*.log
*.temp
*.tmp
logs/

# Build files
.eggs/
*.a
*.dll
*.dylib
*.egg-info/
*.exe
*.lib
*.so
build/
dist/
target/

# Backup files
*.bak
*.backup
*.old

# Github links
*.link
*.link/

# == Project's
# Javascript/Typescripts
.npm
npm-debug.log*
node_modules/
package-lock.json
pnpm-lock.yaml
# Use .test.ts for test files instead of spec
*.spec.ts
