name: Publish updated GitHub account page

on:
  push:
    branches:
      - main

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          submodules: true  # Pull submodules if any

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@10 --activate

      - name: Prepare lock file
        run: |
          pnpm install --lockfile-only

      - name: Cache node_modules based on if lock file
        uses: actions/cache@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Build release
        run: |
          pnpm install
          pnpm build

          cd release
          find . -mindepth 1 | cut -c3-

      - name: Sign up with GPG to verify commits
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.signingkey "$(gpg --list-secret-keys --keyid-format=long | grep -A1 "^sec" | tail -1 | xargs)"
          git config commit.gpgsign true

      - name: Publish page
        run: |
          .scripts/publish
